
.main-paragraph-all h3{
  letter-spacing: 2px;
  text-align:center;
  padding:5px 0px;
}

#past-event{
  width:100%;
}

.main-paragraph-all{
  margin:0 auto;
}

.main-paragraph-all .organisation{
  padding-left:30px;
  font-weight:bolder;
  font-style:italic;
}

.organisation span{
  font-weight:bolder;
  color: #29369c;
}

.adresse span{
  font-style:oblique;
  text-decoration: underline;
}


/* main cards */
.container-card{
  display:flex;
  justify-content: space-around;
}

.card{
  display:flex;
  flex-direction:column;
  box-shadow:0 0 12px lightgrey;
  margin:20px 10px;
}

.card-top{
  font-size:1.4rem;
  font-family: poppins, sans-serif;
  color:white;
  font-style:italic;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 34%, rgba(252,70,107,1) 100%);
  padding: 30px;
  letter-spacing:3px;
  text-align:center;
}

.card-bottom{
  font-size:1.3rem;
  font-family:poppins, sans-serif;
  font-style:italic;
  padding: 30px;
  letter-spacing:3px;
  text-align:center;
}

/* images */
.container-img{
  display:flex;
  justify-content: center;
  width:95%;
}
  .container-img img{
  width:40%;
}

/* gallerie */

.gallerie{
  text-align:center;
}

.gallerie i{
  font-size:1.5rem;
  padding-right:15px;
  color:#29369c;
}

.gallerie p{
  padding: 10px;
  font-size:1.2rem;
  font-weight:400;
}

.gallerie hr{
  width: 55%;
  height: 2px;
  background-color: #F7B77B;
  border:none;
}

.gallerie .container-ancien{
  display:block;
  margin:50px 0px 20px 0px;
  }

/* Media queries */
/* Cards et menu */
@media screen and (max-width:900px){
  .container-card{
    flex-direction:column;
    align-items:center;
  }
  .card{
    width:70%;
    margin:15px 0px;
  }
  .navbar-links{
    width:320px;
    height:500px;
  }
  .navbar-link {
    padding:0px;
    margin:0px;
  }

  .main-element{
    width:98%;
  }
}

/* images */
@media screen and (max-width:750px){
  .medium-image{
    display:none;
  }
  .container-img img{
  width:100%;
}
  .medium-device{
    display:none;
  }
}

@media screen and (max-width:500px){
  .main-element{
    width:100%;
  }
}