/* breadcrumb */

.fil-ariane-container{
  padding:10px 0px 10px 20px;
  font-family:'Titillium Web', sans-serif;
  font-size:1.25rem;
  font-weight:550;
  letter-spacing:2px;
  background: rgb(27,66,164);
  background: linear-gradient(90deg, rgba(27,66,164,1) 0%, rgba(110,135,189,1) 71%, rgba(253,242,231,0.5) 100%);
  width:97%;
  border-radius:0px 50px 50px 0px;
}

.fil-ariane-items{
  display:inline-block;
}

.fil-ariane-items:not(:last-of-type)::after{
  content : ' > ';
  color: white;
  margin:0 5px;
}

.on{color:white;}
.on:hover{
  color:white;
}
.off{color:lightgrey;}


/* main part */

main{
  padding:20px 0px 30px 0px;
}

.main-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.main-element{
  width: 90%;
  margin:20px 0;
}

.main-paragraph-all h3{
  letter-spacing: 2px;
  text-align:center;
  padding:5px 0px;
}

.main-paragraph-all .organisation{
  padding-left:30px;
  font-weight:bolder;
  font-style:italic;
}

.organisation span{
  font-weight:bolder;
  color: #29369c;
}

.adresse span{
  font-style:oblique;
  text-decoration: underline;
}


/* main cards */
.container-card{
  display:flex;
  justify-content: space-around;
}

.card{
  display:flex;
  flex-direction:column;
  box-shadow:0 0 12px lightgrey;
  margin:20px 10px;
}

.card-top{
  font-size:1.4rem;
  font-family: poppins, sans-serif;
  color:white;
  font-style:italic;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 34%, rgba(252,70,107,1) 100%);
  padding: 30px;
  letter-spacing:3px;
  text-align:center;
}

.card-bottom{
  font-size:1.3rem;
  font-family:poppins, sans-serif;
  font-style:italic;
  padding: 30px;
  letter-spacing:3px;
  text-align:center;
}

/* images */
.container-img{
  display:flex;
  justify-content: space-between;
  width:90%;
}
  .container-img img{
  width:50%;
}

/* gallerie */

.gallerie{
  text-align:center;
}

.gallerie i{
  font-size:1.5rem;
  padding-right:15px;
  color:#29369c;
}

.gallerie p{
  padding: 10px;
  font-size:1.2rem;
  font-weight:400;
}

.gallerie hr{
  width: 55%;
  height: 2px;
  background-color: #F7B77B;
  border:none;
}

.gallerie .container-ancien{
  display:block;
  margin:50px 0px 20px 0px;
  }


.gallerie .ancien{
    margin:25px 0px 10px 0px;
    padding: 15px;
    border: solid 2px transparent;
    border-radius: 20px;
    background: #29369c;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    outline:none;
}

.gallerie .ancien:hover, .galerie .ancien:focus{
  background: #fff;
  border:solid 2px #29369c;
  color: #29369c;
  text-decoration:underline;
}

/* Media queries */

/* Cards et menu */
@media screen and (max-width:900px){
  .container-card{
    flex-direction:column;
    align-items:center;
  }
  .card{
    width:80%;
    margin:15px 0px;
  }
  .navbar-links{
    width:320px;
    height:500px;
  }
  .navbar-link {
    padding:0px;
    margin:0px;
  }
}

/* images */
@media screen and (max-width:660px){
  .medium-image{
    display:none;
  }
  .container-img img{
  width:100%;
}
  .medium-device{
    display:none;
  }
}
